In [1]:
#1.take input and print
a = []
i = 0
for i in range(0,10):
     b = int(input('Enter a number'))
     a.insert(i,b)
print(a)

Enter a number5
Enter a number4
Enter a number8
Enter a number9
Enter a number0
Enter a number2
Enter a number5
Enter a number77
Enter a number89
Enter a number95
[5, 4, 8, 9, 0, 2, 5, 77, 89, 95]

In [2]:
#2.infinite loop
i = 1
while i>=0:
    print('loop')
    if(i==50):
        break
    i+=1

loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop
loop

In [3]:
#3.sqaure of prev list
a = []
c = []
i = 0
for i in range(0,4):
    b=int(input('Enter a number'))
    a.insert(i,b)
    c.insert(i,b*b)
print(a)
print(c)

Enter a number3
Enter a number6
Enter a number7
Enter a number5
[3, 6, 7, 5]
[9, 36, 49, 25]

In [4]:
#4.store string,ints and floats speratelely
lst = [1,5,8,5.0,4.5,9,'ash','jay']
i = 0
n = []
s = []
f = []
for i in range(len(lst)):
    t=type(lst[i])
    print(t)
    if(t==int):
        n.insert(0,lst[i])
    elif(t==float):
        f.insert(0,lst[i])
    elif(t==str):
        s.insert(0,lst[i])
print(n)
print(s)
print(f)

<class 'int'>
<class 'int'>
<class 'int'>
<class 'float'>
<class 'float'>
<class 'int'>
<class 'str'>
<class 'str'>
[9, 8, 5, 1]
['jay', 'ash']
[4.5, 5.0]

In [5]:
#5.list with even n odd nos.
i = 1
n = 1
l = []
odd = []
even = []
for i in range(102):
    l.insert(0,i)
    i+=1
print(l)
for n in range(0,101,1):
    if(l[n]%2==0):
        even.insert(0,l[n])
    elif(l[n]%2==1):
        odd.insert(0,l[n])
print(even)
print(odd)

[101, 100, 99, 98, 97, 96, 95, 94, 93, 92, 91, 90, 89, 88, 87, 86, 85, 84, 83, 82, 81, 80, 79, 78, 77, 76, 75, 74, 73, 72, 71, 70, 69, 68, 67, 66, 65, 64, 63, 62, 61, 60, 59, 58, 57, 56, 55, 54, 53, 52, 51, 50, 49, 48, 47, 46, 45, 44, 43, 42, 41, 40, 39, 38, 37, 36, 35, 34, 33, 32, 31, 30, 29, 28, 27, 26, 25, 24, 23, 22, 21, 20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99, 101]

In [6]:
#6.pattern
i = 1
for i in range(5):
    print('*'*i)

*
**
***
****

In [7]:
#7.user defined dict
dic = {}
i = 0
for i in range(3):
    m = input('enter a key')
    n = input('enter a value')
    dic[m] = n
print(dic)

enter a key23
enter a value555555
enter a key89
enter a value0000000
enter a key99
enter a value4444444
{'23': '555555', '89': '0000000', '99': '4444444'}

In [8]:
#8.delete an element
i = 0
n = 0
d = []
for i in range(5):
    k=int(input('enter a number'))
    d.insert(0,k)
print(d)
j=int(input('enter another number'))
for n in range(5):
    if(d[n]==j):
        d.pop(n)
print(d)

enter a number8
enter a number7
enter a number6
enter a number3
enter a number2
[2, 3, 6, 7, 8]
enter another number5
[2, 3, 6, 7, 8]