In [16]:
#DataFrame
#Series
#Index
#T
#Axes
#dType
#csv_read
import pandas as pd
data = {'Name': ['tapas', 'ashita', 'ramu'], 'Age': [19,20,21]}
df = pd.DataFrame(data) 
print(df)

     Name  Age
0   tapas   19
1  ashita   20
2    ramu   21

df = dataframe

In [2]:
import pandas as pd
data = {'Name': ['tapas', 'ashita', 'ramu'], 'Age': [19,20,21]}
df = pd.DataFrame(data, index = ['number 1', 'number 2', 'number 3']) 
print(df)

            Name  Age
number 1   tapas   19
number 2  ashita   20
number 3    ramu   21

In [3]:
import pandas as pd
data = {'Name':pd.Series(['tapas', 'ashita', 'ramu']), 'Age':pd.Series([19,20,21])}
df = pd.DataFrame(data, index = ['number 1', 'number 2', 'number 3']) 
print(df)

         Name  Age
number 1  NaN  NaN
number 2  NaN  NaN
number 3  NaN  NaN

In [2]:
import pandas as pd
data = {'Name':pd.Series(['tapas', 'ashita', 'ramu']), 'Age':pd.Series([19,20,21])}
print(pd.Series(['a', 'b', 'c']))

0    a
1    b
2    c
dtype: object

In [3]:
import pandas as pd
data = {'Name':pd.Series(['tapas', 'ashita', 'ramu']), 'Age':pd.Series([19,20,21])}
print(pd.Series(['a', 'b', 'c'], index = ['m', 'n', 'o']))

m    a
n    b
o    c
dtype: object

In [4]:
import pandas as pd
data = {'Name':pd.Series(['tapas', 'ashita', 'ramu']), 'Age':pd.Series([19,20,21])}
df = pd.DataFrame(data) 
print(df)

     Name  Age
0   tapas   19
1  ashita   20
2    ramu   21

In [6]:
import pandas as pd
data = {'Name':pd.Series(['tapas', 'ashita', 'ramu']), 'Age':pd.Series([19,20,21])}
df = pd.DataFrame(data, index = [2, 3, 4]) 
print(df)

   Name   Age
2  ramu  21.0
3   NaN   NaN
4   NaN   NaN

In [7]:
import pandas as pd
data = {'Name':pd.Series(['tapas', 'ashita', 'ramu'], index = range(3, 6)), 'Age':pd.Series([19,20,21])}
df = pd.DataFrame(data, index = [2, 3, 4]) 
print(df)

     Name   Age
2     NaN  21.0
3   tapas   NaN
4  ashita   NaN

so firstly see why this kind of output come

index Name:

3 Tapas

4 ashita

5 ramu

---



index Age:

0 19

1 20

2 21

---



DATA FRAME

index     Name      Age
              
               
2            Nan           21

3            Tapas       Nan

4            Akshay     Nan

In [8]:
import pandas as pd
data = {'Name': ['tapas', 'ashita', 'ramu'], 'Age': [19,20,21]}
df = pd.DataFrame(data, index = ['number 1', 'number 2', 'number 3']) 
print(df.T)

     number 1 number 2 number 3
Name    tapas   ashita     ramu
Age        19       20       21

In [10]:
import pandas as pd
data = {'Name': ['tapas', 'ashita', 'ramu'], 'Age': [19,20,21]}
df = pd.DataFrame(data) 
print(df.axes)

[RangeIndex(start=0, stop=3, step=1), Index(['Name', 'Age'], dtype='object')]

In [11]:
import pandas as pd
data = {'Name': ['tapas', 'ashita', 'ramu'], 'Age': [19,20,21]}
df = pd.DataFrame(data) 
print(df.dtypes)

Name    object
Age      int64
dtype: object

In [12]:
import pandas as pd
data = {'Name': ['tapas', 'ashita', 'ramu'], 'Age': [19,20,21]}
df = pd.DataFrame(data) 
print(df.shape)

(3, 2)

In [13]:
import pandas as pd
data = {'Name': ['tapas', 'ashita', 'ramu'], 'Age': [19,20,21]}
df = pd.DataFrame(data) 
print(df.values)

[['tapas' 19]
 ['ashita' 20]
 ['ramu' 21]]

In [14]:
import pandas as pd
data = {'Name': ['tapas', 'ashita', 'ramu'], 'Age': [19,20,21]}
df = pd.DataFrame(data)
print(df)
print(df.head(2))
print(df.tail(2))

     Name  Age
0   tapas   19
1  ashita   20
2    ramu   21
     Name  Age
0   tapas   19
1  ashita   20
     Name  Age
1  ashita   20
2    ramu   21

In [15]:
import pandas as pd
data = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(data) 
print(s)

a    1
b    2
c    3
dtype: int64